*{
	background:  #333300;
}
h1{

	color:  #9999ff;

}
p{
	color: #D1D8D8;
}
#para {
	color: red;
	text-align: right;
}
#par{
	color:#80ffbf;
}
body{
	color: brown;
}
#her{
	color: #212AE3;
}
#ja{
	color: #2EB9BB;
}
#j{
	color: #F32B16;
}
